<ul class="nav">
    <li class='nav-link'>
        <a href='/customizations.html'>Customization Manager</a>
    </li>
    <li class='nav-link'>
        <a href='/catalogue.html'>Customization Catalogue</a>
    </li>
    <li class='nav-link'>
        <a href='/remote-action.html'>Remote Actions</a>
    </li>
    <li class='nav-link'>
        <a href='/development.html'>Custom Development</a>
    </li>
    <li class='nav-link'>
        <a href="/opensource.html">Opensource Projects</a>
    </li>
    <li class='nav-link nav-link-last'>
        <a href="/articles.html">Articles</a>
    </li>
</ul>

