<ul class="nav">
    <li class='nav-link'>
        <a href='/customizations.html'>Customization Manager</a>
    </li>
    <ul class="nav" style="margin-bottom: 0px;">
        <li class='nav-link'>
            <a href='/catalogue.html'>Catalogue</a>
        </li>
    </ul>
    <li class='nav-link'>
        <a href='/remote-action.html'>Remote Actions</a>
    </li>
    <li class='nav-link'>
        <a href='/development.html'>Custom Development</a>
    </li>
    <li class='nav-link'>
        <a href="/opensource.html">Opensource Projects</a>
    </li>
    <li class='nav-link nav-link-last'>
        <a href="/articles.html">Articles</a>
    </li>
</ul>

