---
---
@import "{{ site.theme }}";

$header-font: 'Montserrat';
$content-font: 'Lato';

body {
    font-family: $content-font !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font !important;
    font-weight: 500;
}

/* minimal theme native li */

.downloads {
    width: 89px;
    float: left;
    border-right: 1px solid #e0e0e0;
    height: 40px;
}

header ul.downloads {
    list-style: none;
    height: 40px;
    padding: 0;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    width: 270px;
}

.nav {
    list-style: none;
    height: auto;
    padding: 0;
    background: #fff;
    border: None;
    width: 195px; 
    display: block;
}

.nav-link {
    width: auto;
    float: none;
    border: none;
    height: auto;
    padding-left: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.nav-link-last {
    border-bottom: none;
}

.articles-list{
    list-style: none;
}

.logo {
    padding-bottom: 1em;
}

iframe {
    padding-bottom: 1em;
}

#search-form {
    padding-bottom: 2em;
}

#search-results {
    text-align: center;
}

#search-input {
    width: 70%;
}

.customization-info h3 {
    margin-bottom: 0.4em
}

.customization-info p {
    margin-bottom: 0.4em
}

.customization-info {
    margin-bottom: 2em;
}

video {
    margin-bottom: 1.5em;
}

.input-group {
    margin-bottom: 1.5em;
}

.input-group p {
    margin-bottom: 0px;
}

h2 small {
  font-size:0.6em;
  color:#777;
  // margin-top:-0.2em;
  display:block;
}

.adobe-sign-key {
  color: #cb4b16;
  font-weight: 300;
}

// icons
.inline-icon {
    vertical-align: text-bottom;
    cursor: help;
}

.success {
    color: $sol-green;
}

.warning {
    color: $sol-yellow;
}

.error {
    color: $sol-orange;
}


/* Rules for sizing the icon. */
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-18.va-tt { vertical-align: text-top; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

/* Rules for using icons-outlined as black on a light background. */
.material-icons-outlined.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons-outlined.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons-outlined as white on a dark background. */
.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons-outlined.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

