<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
      {% include head_noseotitle.html %}
      <title>{{ page.name }} | {{ site.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
          {% include header.html %}
      </header>
      <section>

    <h2>{{ page.name }}</h2>

    <p class="view">
        {% if page.presentation %}
            <a href="{{ page.presentation }}">
                Presentation</a>
        {% endif %}
        {% if page.docs_url %}
            | <a href="{{ page.docs_url }}">
                Docs</a>
        {% endif %}
    </p>

      {{ content }}

      </section>
      <footer>
          {% include footer.html %}
      </footer>
    </div>
    {% include footer_scripts.html %}
  </body>
</html>

